<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta property="og:image" content="images/og.jpeg"/>
    <meta name="Description"
          content="Fattigstudent.no hjelper deg med 책 finne den billigste alkoholen s책 du f책r mest ut av festen uten 책 bruke en formue.">
    <meta name="Keywords" content="Fattigstudent.no Fattigstudent Fattig student Alkohol Billig Vinmonopolet PPK ">
    <title>Fattigstudent</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/pure-min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/HTMLToolTips.Animation.css'/>
    <link rel='stylesheet' href='/stylesheets/html5tooltips.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/javascripts/cookie.js"></script>
    <script src="/javascripts/HTMLToolTips.js"></script>
    <script src="/javascripts/indexejs.js"></script>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message": "This website uses cookies to ensure you get the best experience on our website",
            "dismiss": "Got it!",
            "learnMore": "More info",
            "link": null,
            "theme": "light-bottom"
        };
    </script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
</head>
<body>
<div id="sentre">
    <div id="topBox">
        <header>
            <a href="/"><img id="topLogo" src="/images/Logohvit-tekst.png"></a>
        </header>
    </div>
    <div id="content" style="text-align: center;">
        <div id="r">
            Her kan vi ha en faq
        </div>
    </div>
    <footer>
        <div class="smallbox">
            <h2>FAQ</h2>
            <h4>Hva er PPK </h4>
            <h4>Hvordan bidra til prosjektet</h4>
        </div>

        <div class="smallbox">
            <h2>KONTAKT OSS</h2>
            <h4>Mail</h4>
            <h5>kontakt@fattigstudent.no</h5>
        </div>

        <div class="smallbox">
            <h2>SOSIALT</h2>
            <h4>Facebook</h4>
            <h4>Twitter</h4>
            <h4>Snapchat</h4>
        </div>
        <span class="smallbox"><img id="bottomLogo" src="/images/Logohvit-tekst.png" alt="Fattigstudent.no"></span>
    </footer>

</div>
</body>
</html>
